{% extends 'base.html' %}
{% load bootstrap4%}
{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-6">
        <div class="card card-cascade  wider text-center">
            <div class="card-body card-body-cascade ">
                <h1 class="  text-center blue-text">
                    Upload Site</h1> <br>
                <br>
                <form action="{% url 'newprofile' % }" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
        
                        <div class=" form-group">
                    <input type="submit" class="btn btn-dark btn-md text-center" value="Upload"
                        style="text-align:center;">
            </div>
            {{form.media}}
            </form>

        </div>
    </div>
</div>

{%endblock%}