<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
  <style>
    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #4fa455;
      color: white;
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand navbar-light" id="nav" style="background-color: #4fa455;">
    <div class="container">
      <a class="navbar-brand" href="#home" style="color: #fff;">MITCH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="" style="color: #fff;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="color: #fff;">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="color: #fff;">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" style="color: #fff">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1 style="text-align: center;">HELLO!</h1>
  </div>
  
  <!-- <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer> -->
</body>

</html>